@page "/desserts"
@inject BlazorCRUDApp.Data.IDessertsService DessertsService;

<h3>Desserts</h3>
<br/>
<a href="desserts/0">
    Add
</a>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var dets in dessertsList)
        {
            var localVar=dets.Id;
            <tr>
            <td>@dets.Id</td>
            <td>@dets.Name</td>
            <td>@dets.Price</td>
            <td>
                <a href="desserts/@dets.Id">
                Edit
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-primary" @onclick= "@(()=> OnDelete(localVar))" > Delete</button>
            </td>
        </tr>
        }
    </tbody>


</table>
@code{
        private List<BlazorCRUDApp.Data.Desserts> dessertsList;
        protected override void OnInitialized()
        {
            dessertsList =DessertsService.GetDesserts();
        }
        private void OnDelete(Guid id){
            DessertsService.DeleteDesserts(id);
        }
        

}


