@page "/drinks"
@inject BlazorCRUDApp.Data.IDrinksService DrinksService;

<h3>Drinks</h3>
<br/>
<a href="drinks/0">
    Add
</a>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var drks in drinksList)
        {
            var localVar=drks.Id;
            <tr>
            <td>@drks.Id</td>
            <td>@drks.Name</td>
            <td>@drks.Price</td>
            <td>
                <a href="drinks/@drks.Id">
                Edit
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick= "@(()=> OnDelete(localVar))">Delete</button>
            </td>
        </tr>
        }
    </tbody>


</table>
@code{
        private List<BlazorCRUDApp.Data.Drinks> drinksList;
        protected override void OnInitialized()
        {
            drinksList =DrinksService.GetDrinks();
        }
        private void OnDelete(Guid id){
            DrinksService.DeleteDrinks(id);
        }
        

}


