@page "/employers"
@inject BlazorCRUDApp.Data.IEmployersService EmployersService;

<h3>Employers</h3>
<br/>
<a href="employers/0">
    Add
</a>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in employersList)
        {
            <tr>
            <td>@emp.Id</td>
            <td>@emp.Name</td>
            <td>
                <a href="employers/@emp.Id">
                Edit
                </a>
            </td>
            <td>
                <button class="btn btn-primary" @onclick=@(e => OnDelete(emp.Id))>Delete</button>
            </td>
        </tr>
        }
    </tbody>


</table>
@code{
        private List<BlazorCRUDApp.Data.Emmployee> employersList;
        protected override void OnInitialized()
        {
            employersList = EmployersService.GetEmmployees();
        }
        private void OnDelete(Guid id){
            EmployersService.DeleteEmployee(id);
        }
        

}


