@page "/employersId/{Id}"
@inject BlazorCRUDApp.Data.IEmployersService EmployersService 
@inject BlazorCRUDApp.Data.Emmployee Employee
@inject NavigationManager Navegation

<EditForm Model="employee" OnSubmit="@SubmitForm">
    <div class="form-group">
        <label>Id</label>
        <input id="Id" class="form-control" name="id" value="@employee.Id" readonly/>
    </div>
     <div class="form-group">
        <label>Name</label>
        <InputText id="Name" class="form-control" name="name"  @bind-Value = "employee.Name"/>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</EditForm>


@code{
    [Parameter]
    public string Id{ get; set; }

    private BlazorCRUDApp.Data.Emmployee employee{ get; set;}

        protected override void OnInitialized()
        {
           employee = EmployersService.GetEmmployee(Guid.Parse(Id));
        }
        private void SubmitForm(){
            EmployersService.UpdateEmployee(employee);
            Navegation.NavigateTo("employers");
        }

}

