@page "/employers"
@inject BlazorCRUDApp.Data.IEmployersService EmployersService;

<h3>Employers</h3>
<br/>
<table class="table">
    <head>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td></td>
        </tr>
    </head>
    <tbody>
        @foreach (var e in employersList)
        {
            <tr>
            <td>@e.Id</td>
            <td>@e.Name</td>
            <td>
                <a href="employersId/@e.Id">
                Edit
                </a>
            </td>
        </tr>
        }
    </tbody>


</table>
@code{
        private List<BlazorCRUDApp.Data.Emmployee> employersList;
        protected override void OnInitialized()
        {
            employersList = EmployersService.GetEmmployees();
        }
        

}


