@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Fuumiyaki</h1>

<body>
    <br>
    <p style="text-align: justify">A charming place where the archetypal flavors of <em>traditional Japanese cuisine</em> are designed including the new teppanyaki trends. The exquisiteness of the dishes, the decoration carefully chosen to represent the Fuumiyaki; details that will make your stay in this place an experience of incalculable value.</p>
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    
    <div class="wrapper">
        <a href="https://www.facebook.com/fuumiyaki" class="icon facebook">
            <div class="tooltip">Facebook</div>
            <span><i class="fab fa-facebook-f"></i></span>
        </a>
        <a href="https://www.instagram.com/fuumiyaki/?hl=es" class="icon instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
        </a>
    </div>

</body>