@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Fuumiyaki</h1>

<body>
    <br>
    <p style="text-align: justify">A charming place where the archetypal flavors of <em>traditional Japanese cuisine</em> are designed including the new teppanyaki trends. The exquisiteness of the dishes, the decoration carefully chosen to represent the Fuumiyaki; details that will make your stay in this place an experience of incalculable value.</p>
</body>