@page "/principalDish/{Id}"
@inject BlazorCRUDApp.Data.IPrincipalDishService PrincipalDishService
@inject NavigationManager Navegation

<EditForm Model="@pDish" OnSubmit="@SubmitForm">
    <div class="form-group">
        <label>Id</label>
        <input id="Id" class="form-control" name="Id" value="@pDish.Id" readonly/>
    </div>
     <div class="form-group">
        <label>Name</label>
        <InputText id="Name" class="form-control" name="Name"  @bind-Value = "pDish.Name"></InputText>
    </div>
    <button style="margin-top: 1.5%;" type="submit" class="btn btn-primary">Update</button>
</EditForm>


@code{
    [Parameter]
    public string Id{ get; set; }="";

    private  BlazorCRUDApp.Data.PrincipalDish pDish{ get; set;} = new BlazorCRUDApp.Data.PrincipalDish();

        protected override void OnInitialized()
        {
           if (string.IsNullOrEmpty(Id) || Id == "0")
           {
            pDish=new BlazorCRUDApp.Data.PrincipalDish();
           } 
           else
           {
            pDish = PrincipalDishService.GetPrincipalDishByID(Guid.Parse(Id));
            }
        }
        public void SubmitForm(){
            if (pDish.Id==Guid.Empty)
            {
                PrincipalDishService.AddPrincipalDish(pDish);
            }
            else
            {
               PrincipalDishService.UpdatePrincipalDish(pDish); 
            }
            
            Navegation.NavigateTo("principalDish");
        }

}

