@page "/principalDish"
@inject BlazorCRUDApp.Data.IPrincipalDishService PrincipalDishService;

<h3>Principal Dish</h3>
<br/>
<a href="principalDish/0">
    Add
</a>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var pDish in principalDishList)
        {
            var localVar=pDish.Id;
            <tr>
            <td>@pDish.Id</td>
            <td>@pDish.Name</td>
            <td>@pDish.Price</td>
            <td>
                <a href="principalDish/@pDish.Id">
                Edit
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick= "@(()=> OnDelete(localVar))">Delete</button>
            </td>
        </tr>
        }
    </tbody>


</table>
@code{
        private List<BlazorCRUDApp.Data.PrincipalDish> principalDishList;
        protected override void OnInitialized()
        {
            principalDishList =PrincipalDishService.GetPrincipalDish();
        }
        private void OnDelete(Guid id){
            PrincipalDishService.DeletePrincipalDish(id);
        }
        

}


